body {
  background-color: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}

h1 {
  display: inline;
}

strong {
  display: block;
}

div {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/513KLIb5CwL.jpg");
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  background-size: cover;
}

span {
  background-color: blue;
}
