@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;400;700&display=swap");

:root {
  font-family: "Smooch Sans", sans-serif;
}

div {
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition-duration: 1s;
}

.first-task {
  border-radius: 50%;
}

.first-task:hover {
  transform: scale(150%) translate(25%, 25%);
  background-color: brown;
}

.second-task:hover {
  transform: rotate(180deg);
}

.third-task {
  color: aqua;
}

.third-task:hover {
  transform: scale(90%);
  color: black;
}

.fifth-task:hover {
  border-top: 2px solid black;
}
