* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: beige;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem 2rem;
  /* row-gap: 1rem;
  column-gap: 2; */
}

.item {
  background-color: gainsboro;
  height: 200px;
}

@media screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
