* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 160, 93);
}

header {
  background-color: rgb(0, 12, 175);
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 2rem;
}

nav ul li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

main {
  background-color: rgb(255, 0, 0);
  display: flex;
}

footer {
  height: 15vh;
  text-align: center;
  margin: 0px auto;
  padding-top: 2rem;
}

footer .box {
  margin: 2rem auto;
}

.left {
  background-color: rgb(53, 111, 197);
  flex: 1;
}

.right {
  background-color: rgb(0, 140, 255);
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
}

.box {
  background-color: white;
  width: 100px;
  height: 100px;
  border-width: 0.5rem;
  border-color: black;
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
